<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestNG">
    <test name="testPersonAge">
        <classes>
            <class name="PeopleTest.PersonTestNGTest"/>
        </classes>
    </test><test name="testNumberTestNG">
    <classes>
        <class name="NumbersTest.NumbersTestNGTests"/>
    </classes>
</test>
</suite>
