<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite BookingTestNG">
    <test name="BookingParisSearch">
        <classes>
            <class name="tests.testng.tests.BookingParisSearchTests"/>
        </classes>
    </test>
    <test name="BookingLondonSearch">
        <classes>
            <class name="tests.testng.tests.BookingLondonSearchTests"/>
        </classes>
    </test>
    <test name="BookingPrahaSearch">
        <classes>
            <class name="tests.testng.tests.BookingPrahaSearchTests"/>
        </classes>
    </test>
    <test name="BookingTooltips">
        <classes>
            <class name="tests.testng.tests.BookingTooltipTests"/>
        </classes>
    </test>
</suite>
